/* lato-regular - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: local(''),
        url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 900;
src: local(''),
        url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* для того чтобы элеменыт не меняли реальный размер, например когда передаем паддинг, чтобы не добавляли их рна реальный размер бокса*/
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
/*По дефолту элементы будут применять данный стиль, в случае напрмер в дальнейшем будут добавления других эелементов*/
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
img{
   max-width: 100%;
   height: auto; 
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.wrapper_full{
    max-width: 1262px;
    margin: 0 auto;
}
.section_title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px; 
    position: relative;padding-bottom: 10px;
}
.section_title:after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*header style start*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header_list{
    display: flex;
    flex-wrap: wrap;
}
.header_item{
    margin-right: 82px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-size: 18px;
    line-height: 24px;
    color:white;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    opacity: 0.75;
}
/*Header style End*/

/*Inro style Start*/
.intro{
    min-height: 100vh;
    background: url(../img/intro_bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro_title{
    font-size: 50px;
    font-weight: 500;
    color: white;
    line-height: 60px;
    max-width: 619px;
    margin-bottom: 22px;
}
.intro_subtitle{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 546px;
    margin-bottom: 59px;
}
.search_form_info{
    display: flex;
    flex-wrap: wrap;
}
.search_form_field{
    background: transparent url(../img/circle_icon.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    width: 297px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.search_form_field::placeholder{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.search_form_submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: #1B7DFF;
    border:0;

}
.search_form_submit:hover,.search_form_submit:active,.search_form_submit:focus{
    background: #0e66da;
}

/*Intro style End*/

/*Benefits style Start*/
.benefits{
    margin-bottom: 131px;

}
.benefits_wrap{
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;

}
.benefits_card{
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits_card_pic{
    max-width: 66px;
    margin-bottom: px37px;
}
.benefits_card_pic > img{
    display: block;
    margin-bottom: 37px;
}
.benefits_title{
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top:0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}
.benefits_card_title{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits_card_desc{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 39px;
}
.benfits_card_more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/Shape.svg) no-repeat 95% center;
    transition: .2s all;
}
.benfits_card_more:hover, .benfits_card_more:focus{
    background: url(../img/Shape.svg) no-repeat right center;
    transition: .2s all;
}
/*Benefits style End*/
/*Places Style Start*/
.places{
    margin-bottom: 131px;
}
.places_caption{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 36px;

}
.places_view_all{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/Shape.svg) no-repeat right center;
}
.places_view_all:hover,.places_view_all:focus{
    opacity: 0.65;
}
.places_cards{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
.places_card{
    position: relative;
    overflow: hidden;
}
.places_card:hover .places_card_pic{
    transform: scale(1.05);
}
.places_card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places_card_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF; 
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places_card_big{
    grid-column: span 3;
}
.places_card_small{
    grid-column: span 2;
}
.places_card_pic{
    width: 100%;
    transition: .15s all;
}
.places_card_pic_big{
    height: 354px;
    object-fit: cover;
}
.places_card_pic_small{
    height: 283px;
    object-fit: cover; 
}
.places_card_link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
/*Places Style end*/

/*Tours Style Start*/

.tours{
    margin-bottom: 139px;
}
.tours_tour{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour_info{
    padding-left: 47px;
}
.tour_title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;
}
.tour_more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #006DFE;
    background: url(../img/Shape.svg) no-repeat right center;
}

.tour_more:hover,.tour_more:focus{
    opacity: 0.65;
}
/*Tours Style end*/
/*Top Style Start*/
.top{
    margin-bottom: 86px;
}
.top_card{
    display: flex;
    flex-direction: column;
}
.top_title{
    margin-bottom: 54px;
}
.top_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:57px;
}
.top_card_pic{
    position: relative;
    margin-bottom: 45px;
}
.top_card_info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}
.top_card_title{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto 0 0;
}
.top_card_likes_value{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 20px;
    background: url(../img/heart.svg) no-repeat right;
    margin-right: 14px;
}
.top_card_comments_value{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/comment.svg) no-repeat right;

}
.top_card_desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}
.top_card_more{
    width: 118px;
    padding: 12px 19px;
    text-decoration: none;
    color: white;
    background: #006DFE;
    font-size: 16px;
    line-height: 19px;
    margin: auto 0 0 0;
}
.top_card_more:hover, .top_card_more:active,.top_card_more:focus{
    background-color:#1B7DFF;
}
/*Top Style end*/


